<a href="https://colab.research.google.com/github/GopalMahithvarma/assinments/blob/master/Assinment_on_29.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Write a Python program to get the largest & smallest number from a list**

In [2]:
list1=[]
n=int(input("Please enter the Total Number of List Elements: "))
for i in range(1, n+1):
    a=int(input("Please enter the Value of %d Element : " %i))
    list1.append(a)
print("The Smallest Element in this List is : ", min(list1))
print("The Largest Element in this List is : ", max(list1))

Please enter the Total Number of List Elements: 5
Please enter the Value of 1 Element : 1
Please enter the Value of 2 Element : 3
Please enter the Value of 3 Element : 1
Please enter the Value of 4 Element : 9
Please enter the Value of 5 Element : 4
The Smallest Element in this List is :  1
The Largest Element in this List is :  9

# **Write a Python program to remove duplicates from a list**

In [4]:
list1=[1,2,3,2,1,4,6,4,7]
print("list before removing duplictes", list1)
res=[]
for i in list1: 
    if i not in res: 
        res.append(i) 
print("list after removing duplicates", res)

list before removing duplictes [1, 2, 3, 2, 1, 4, 6, 4, 7]
list after removing duplicates [1, 2, 3, 4, 6, 7]

# **Write a Python program to check a list is empty or not**

In [5]:
l=[]
if not l:
  print("List is empty")

List is empty

# **Write a Python program to clone or copy a list**

In [6]:
original=[10, 22, 44, 23, 4]
clone=list(original)
print(original)
print(clone)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

# **Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black']**

In [26]:
color=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color1=[x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color1)

['Green', 'White', 'Black']

# **Write a Python program to print the numbers of a specified list after removing even numbers from it**

In [27]:
n=[7,8, 120, 25, 44, 20, 27]
n1=[x for x in n if x%2!=0]
print(n1)

[7, 25, 27]

# **Write a Python program to shuffle and print a specified list**

In [28]:
import random
color=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
random.shuffle(color)
print(color)

['Yellow', 'Black', 'Red', 'Pink', 'White', 'Green']

# **Write a Python program to get the difference between the two lists**

In [29]:
def Diff(list1, list2): 
    return (list(set(list1) - set(list2))) 
list1=[10, 15, 20, 25, 30, 35, 40] 
list2=[25, 40, 35] 
print(Diff(list1, list2))

[10, 20, 30, 15]