<a href="https://colab.research.google.com/github/GopalMahithvarma/assinments/blob/master/assmnt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Find minimum of three numbers**

In [8]:
a=input("Enter value of a:")
b=input("Enter value of b:")
c=input("Enter value of c:")
if(a <= b and a <= c): 
    print(a, "is the smallest")   
elif(b <= a and b <= c): 
    print(b, "is the smallest") 
else: 
    print(c, "is the smallest")

Enter value of a:16
Enter value of b:20
Enter value of c:10
10 is the smallest

# **2.find the GCD and LCM of two/three numbers**

In [9]:
def gcd(a,b): 
     if a == 0: 
         return b 
     return gcd(b % a, a) 
def lcm(a,b): 
     return (a*b) / gcd(a,b) 
a = 12
b = 20
print('LCM of', a, 'and', b, 'is', lcm(a, b))
print('GCD of', a, 'and', b, 'is', gcd(a, b))

LCM of 12 and 20 is 60.0
GCD of 12 and 20 is 4

# **3.check whether given number is perfect or not**

In [1]:
n=int(input("Enter a number"))
a=0
for i in range(1, n):
    if(n%i==0):
        a=a+i
if (a==n):
    print(" %d is a Perfect Number" %n)
else:
    print(" %d is not a Perfect Number" %n)

Enter a number6
 6 is a Perfect Number

# **4.Print twin primes upto specified limit**

In [16]:
def s(n):
   for i in range(2, n):
      if n % i == 0:
         return False
   return True
 
def generate_twins(start, end):
   for i in range(start, end):
      j = i + 2
      if(s(i) and s(j)):
         print("{:d} and {:d}".format(i, j))
 generate_twins(20, 100)

29 and 31
41 and 43
59 and 61
71 and 73

# **5.Print prime numbers up to specified limited**

In [19]:
lower=30
upper=100
print("Prime numbers between", lower, "and", upper, "are:")
for n in range(lower, upper + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Prime numbers between 30 and 100 are:
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# **6.Find the sum of digits of a number is Armstrong number or not**

In [20]:
n = int(input("Enter a number: "))  
s = 0  
temp = n 
while temp > 0:  
   digit = temp % 10  
   s += digit ** 3  
   temp //= 10  
  
if n == s:  
   print(n,"is an Armstrong number")  
else:  
   print(n,"is not an Armstrong ")

Enter a number: 153
153 is an Armstrong number

# **7.Swapping of two numbers**

In [22]:
x = input('Enter value of x:')
y = input('Enter value of y:')
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x:2
Enter value of y:5
The value of x after swapping: 5
The value of y after swapping: 2

# **8.perfrom all five arithmetic operator**

In [23]:
x = float(input("enter a num : "))
y = float(input ("enter a num : "))
 
print('x + y =',x+y)
 
print('x - y =',x-y)
 
print('x * y =',x*y)
 
print('x / y =',x/y)
  
print('x // y =',x//y)
 
print('x ** y =',x**y)

enter a num : 5
enter a num : 5
x + y = 10.0
x - y = 0.0
x * y = 25.0
x / y = 1.0
x // y = 1.0
x ** y = 3125.0